<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNg</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd92a7">  <td>16/11/10 16:40:11</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseSetUp.afterSuite()[pri:0, instance:Proj.GoibiboProject@3fb6a447]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1622006612</td>   <td></td> </tr>
<tr bgcolor="bd92a7">  <td>16/11/10 16:39:59</td>   <td>-12687</td> <td>&nbsp;</td><td title="&gt;&gt;BaseSetUp.beforeSuite()[pri:0, instance:Proj.GoibiboProject@3fb6a447]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1622006612</td>   <td></td> </tr>
<tr bgcolor="bb689b">  <td>16/11/10 16:40:05</td>   <td>-6696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoibiboProject.testcase1()[pri:0, instance:Proj.GoibiboProject@3fb6a447]">testcase1</td> 
  <td>main@1622006612</td>   <td></td> </tr>
</table>
